
        <%- include partial/header%>

<h1>You are on table: <%=data[0].SeatingTable.tableName%></h1>
<body class="type-r0">
    <fieldset>
        <table class="table table-bordered">
            <thead>
                <tr>
                <th class="text-center">Orders</th>
                <th class="text-center">Waiter</th>
                <th class="text-center">Queue No</th>
                <th class="text-center">Status</th>
                <th class="text-center">All Queue</th>
            </tr>
            </thead>
            <% dataQueue.forEach(d=>{%>
            <tbody>
                <tr>
                <%if(d.SeatingTableId == data[0].SeatingTable.id){%>
                    <%if(d.status == 0){%>
                        <%d.status = 'On Progress'%>
                        <td><%=d.dataValues.FoodList.dataValues.food%></td>
                        <td><%=d.dataValues.Waiter.nama%></td>
                        <td><%=d.noAntrian%></td>
                        <td><%=d.status%></td>
                        <td><button onclick="alert('Your Queue is <%=d.dataValues.YourQueue%> from <%=dataQueue[dataQueue.length-1].dataValues.TotalQueue%>')">Look Queue</button></td>
                    <%}%>
                <%}%>
                </tr>
            </tbody>
            <%})%>
        </table>
    </fieldset>
    <a href="/customer"><button>Back to Customer Option</button></a>
</body>
</html>