
        <%- include partial/header%>
<h1 class="type-r0">Select Seating Table</h1>
<%if(err_msg){%>
  <h3><font color="red">SeatingTable <%=err_msg%> has no order(s) yet</font></h3>
<%}%>
  <body class="type-r0">
    <div>
        <% data.forEach(meja =>{%>
            <div><%=meja.tableName %></div>
            <div>
                <a href="/customer/orders/<%=meja.id%>"><button>Orders</button></a>
                <a href="/customer/vieworder/<%=meja.id%>"><button>View Orders</button></a>
            </div>
        <%})%>
    </div>
    <div>
      <br>
      <h1>View Order carried by Waiter</h1>
      <form action="/customer/waiter" method="GET">
        <fieldset >
            <select name="WaiterId" id="">
              <%dataWaiter.forEach(z=>{%>
                <option value="<%=z.id%>"><%=z.nama%></option>
            <%})%>
          </select>
         <button type="submit">View Orders</button></a>
        </fieldset>
      </form>
  </div>
  <%if(err_msg){%>
    <p>SeatingTable <%=err_msg%> has no order(s) yet</p>
  <%}%>
  <a href="/"><button>Back to Home</button></a>
  </body>
</html>