<!DOCTYPE html>
<html>
    <%- include partial/head%>
  <body>
    <a href="/admin">Back To Admin</a>
    <table border ="1">
      <tr>
        <th>Table Name</th>
        <th>Capacity</th>
        <th>Option</th>
      </tr>
      <%data.forEach(z=>{%>
      <tr>
        <td><%=z.tableName%></td>
        <td><%=z.capasity%></td>
        <td>
          <a href="/admin/seatingTable/edit/<%=z.id%>">EDIT</a> ||
          <a href="/admin/seatingTable/delete/<%=z.id%>">DELETE</a>
        </td>
      </tr>
      <%})%>
    </table>
    <h2>Add new Seating-Table name</h2>
    <form action="/admin/seatingTable" method="post">
      <input type="text" name="tableName" value="" placeholder="input new Seating-Table name">
      <input type="integer" name="capasity" value="" placeholder="input new Seating-Table Capacity">
      <button type="submit">Input</button>
    </form>
    <%if(err_msg){%>
      <p><%=err_msg%></p>
    <%}%>
  </body>
</html>
