
    <%- include partial/header%>
  <body class="type-r0">
    <a href="/admin">Back to Admin</a>
    <table class="table table-bordered">
      <tr>
        <th class="text-center"><b>Name</b></th>
        <th class="text-center">Occupation</th>
        <th class="text-center">Option</th>
      </tr>
      <%data.forEach(z=>{%>
      <tr>
        <td><%=z.nama%></td>
        <td><%=z.jabatan%></td>
        <td>
          <a href="/admin/waiter/edit/<%=z.id%>">EDIT</a> ||
          <a href="/admin/waiter/delete/<%=z.id%>">DELETE</a>
        </td>
      </tr>
      <%})%>
    </table>

    <h2>Add Waiter</h2>
    <form action="/admin/waiter" method="post">
      <input type="text" name="nama" value=""placeholder="input new Waiter name">
      <input type="text" name="jabatan" value=""placeholder="input new Waiter Occupation">
      <button type="submit">Input</button>
    </form>
  </body>
</html>
